<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>제목</th>
                <th>작성 일시</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="article : ${articleList}">
                <td> <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.title}"></a></td>
                <td th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/article/create}">게시글 등록</a>
</div>
</html>